<!DOCTYPE html>
<html>
    <header>
        <nav>
            <ul>
                <li><a href="/">home page</a></li>
                <li><a href="/favorites">favorites</a></li>
                <li><a href="/recents">recents</a></li>
            </ul>	
            <br>
            <script src="https://unpkg.com/feather-icons"></script>
            <ul>
                <li><a href="/addBook">add a book</a><i data-feather="film"></i></li>
                <li><a href="/addMovie">add a movie</a></li>
                <li><a href="/addAlbum">add an album</a></li>
                <li>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script type="module" src="/javascripts/layout.js"></script>
                    <form action="" method="POST" id="deleteForm">
                        <input type="text" id="delete" name="delete" value="no">
                        <button type="button" id="deleteButton">clear shelf</button>
                    </form>
                </li>
            </ul>
	    </nav>
        <script>
            feather.replace();
        </script>
    </header>

    <div class="media">
        <div class="tables">
            <h2>books</h2>
            <table>
                <tr>
                    <th>author</th>
                    <th>title</th>
                    <th>stars</th>
                    <th>year</th>
                    <th>genre</th>
                    <th>review</th>
                </tr>
                {{#each books as |book|}}
                <tr>
                    <td>{{book.author}}</td>
                    <td>{{book.title}}</td>
                    {{#if book.stars}}
                        <td>{{book.stars}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                    {{#if book.year}}
                        <td>{{book.year}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                    {{#if book.genre}}
                        <td>{{book.genre}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                    {{#if book.review}}
                        <td>{{book.review}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                </tr>
                {{/each}}
            </table>
        </div>

        <div class="tables">
            <h2>movies</h2>
            <table>
                <tr>
                    <th>title</th>
                    <th>year</th>
                    <th>stars</th>
                    <th>rating</th>
                    <th>genre</th>
                    <th>review</th>
                </tr>
                {{#each movies as |movie|}}
                <tr>
                    <td>{{movie.title}}</td>
                    <td>{{movie.year}}</td>
                    {{#if movie.stars}}
                        <td>{{movie.stars}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                    {{#if movie.rating}}
                        <td>{{movie.rating}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                    {{#if movie.genre}}
                        <td>{{movie.genre}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                    {{#if movie.review}}
                        <td>{{movie.review}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                </tr>
                {{/each}}
            </table>
        </div>

        <div class="tables">
            <h2>albums</h2>
            <table>
                <tr>
                    <th>title</th>
                    <th>artist</th>
                    <th>stars</th>
                    <th>year</th>
                    <th>genre</th>
                    <th>review</th>
                </tr>
                {{#each albums as |album|}}
                <tr>
                    <td>{{album.title}}</td>
                    <td>{{album.artist}}</td>
                    {{#if album.stars}}
                        <td>{{album.stars}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                    {{#if album.year}}
                        <td>{{album.year}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                    {{#if album.genre}}
                        <td>{{album.genre}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                    {{#if album.review}}
                        <td>{{album.review}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</html>