<!DOCTYPE html>
<html>
    <h1>books</h1>
    <table>
        <tr>
            <th>author</th>
            <th>title</th>
            <th>review</th>
            <th>stars</th>
            <th>year</th>
            <th>genre</th>
        </tr>
        {{#each books as |book|}}
        <tr>
            <td>{{book.author}}</td>
            <td>{{book.title}}</td>
            {{#if book.review}}
                <td>{{book.review}}</td>
            {{else}}
                <td></td>
            {{/if}}
            {{#if book.stars}}
                <td>{{book.stars}}</td>
            {{else}}
                <td></td>
            {{/if}}
            {{#if book.year}}
                <td>{{book.year}}</td>
            {{else}}
                <td></td>
            {{/if}}
            {{#if book.genre}}
                <td>{{book.genre}}</td>
            {{else}}
                <td></td>
            {{/if}}
        </tr>
        {{/each}}
    </table>

    <h1>movies</h1>
    <table>
        <tr>
            <th>title</th>
            <th>year</th>
            <th>review</th>
            <th>stars</th>
            <th>rating</th>
            <th>genre</th>
        </tr>
        {{#each movies as |movie|}}
        <tr>
            <td>{{movie.title}}</td>
            <td>{{movie.year}}</td>
            {{#if movie.review}}
                <td>{{movie.review}}</td>
            {{else}}
                <td></td>
            {{/if}}
            {{#if movie.stars}}
                <td>{{movie.stars}}</td>
            {{else}}
                <td></td>
            {{/if}}
            {{#if movie.rating}}
                <td>{{movie.rating}}</td>
            {{else}}
                <td></td>
            {{/if}}
            {{#if movie.genre}}
                <td>{{movie.genre}}</td>
            {{else}}
                <td></td>
            {{/if}}
        </tr>
        {{/each}}
    </table>

    <h1>albums</h1>
    <table>
        <tr>
            <th>title</th>
            <th>artist</th>
            <th>review</th>
            <th>stars</th>
            <th>year</th>
            <th>genre</th>
        </tr>
        {{#each albums as |album|}}
        <tr>
            <td>{{album.title}}</td>
            <td>{{album.artist}}</td>
            {{#if album.stars}}
                <td>album.stars</td>
            {{else}}
                <td></td>
            {{/if}}
            {{#if album.review}}
                <td>album.review</td>
            {{else}}
                <td></td>
            {{/if}}
            {{#if album.year}}
                <td>album.year</td>
            {{else}}
                <td></td>
            {{/if}}
            {{#if album.genre}}
                <td>album.genre</td>
            {{else}}
                <td></td>
            {{/if}}
        </tr>
        {{/each}}
    </table>
</html>